#blueprints {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      list-style: none;
      text-decoration: none;
      color: white;
    }

}

.blueprint_card {
  background-color: #864868; 
  width: 15rem;
  margin: 3px;
  /* padding: 3px; */
  margin-top: 2rem;
  text-align: center;
  height: 17.5rem;
  color: white;

  .image_tags {
    display: flex;
    width: 15rem;
    align-items: center;
    height: 7rem;
    /* padding: 3px; */

    .crafting_tag {
      align-items: flex-end;
    }

    .item_tag, .crafting_tag {
      display: flex;
      flex-direction: column;
      width: 2rem;
      height: 7rem;
      /* align-items: flex-end; */
    }

    .blueprint_tag {
      position: relative;
      width: 11rem;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .blueprint_background img {
        position: absolute;
        top: 0;
        left: 0;
        width: 11rem;
        object-fit: cover;
      }
      
      .blueprint_img img {
        padding: 2rem;
        position: relative;
        width: 7rem;
      }
    }
  }

  .blueprint_name {
    display: inline-block;
    position: relative;
    img {
      width: 13rem;
      object-fit: cover;
      position: relative;
      display: block;
    }

    h3 {
      width: 13rem;
      position: absolute;
      top: 0%; 
      left: 50%; 
      transform: translate(-50%, -50%); /* Center the text */
      color: white; /* Adjust text color as needed */
      font-size: 20px; /* Adjust font size as needed */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    }
  }
  
  .crafting_materials {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;

    .material {
      padding: 3px;
      display: flex;
      flex-direction: column;
      img {
        width: 2rem;
      }
    }
  } 
}

.item_info {
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #6b3953;
  .attribute {
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    
    img {
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      width: 1.75rem;
    }
  }
}

#blueprint_filters {
  padding-top: 2px;
  padding-bottom: 2px;
  position: sticky;
  top: 3em;
  background-color: rgb(61,61,61);
  color: white;

  nav {
    position: relative;
    width: 7em;

    ul {
      display: block;
      width: 7em;
      height: 100%;
      li {
        text-align: center;
        height: 20%;
        min-height: 2em;
      }
    }
  }

  label {
    width: 2em;
    height: 2em;
    position: relative;
    display: inline-flex;
    cursor: pointer;
    background-color: rgb(100,100,100);
  }

  button {
    margin-left: 5px;
    background-color: rgb(80,80,80);
    img {
      width: 2em;
      height: 2em;
    }
  }

  input[type=checkbox]:checked + label {
    width: 2em;
    background-color: rgb(61,61,61);
  }

  input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  img {
    width: 30px;
    display: block;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }

  form {
    background-color: slategray;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    height: max-content;
  }

  .filter-container {
    display: block;
    padding: 2px;

    .filter {
      display: none;
      align-items: center;
    }
  
    .filter.active {
      display: block;

      .filter-line {
        display: flex;
        align-items: start;

        .filter_name {
          width: 6em;
          min-width: 6em;
          text-align: center;
          display: inline;
        }

        .filter_options {

        }
      }
    }
  }

  
}